
<div class="container">
  <div class="sub-container">
    <p class="index-paragraph">Here you have Binance open API with cryptcurrency pairs(Max Number:{{maxNumberOfExchangesTable}}):</p>
    <input type="number" [(ngModel)]="numberOfExchangesTable" class="index-input" (ngModelChange)="onVariableChange($event)" min="0" max={{maxNumberOfExchangesTable}}>
    <p class="index-paragraph"> Here output:</p>
    <div>
      <p [innerText]=informationAboutExchanges class="index-textparagraph"></p>
    </div>
  </div>

