
<hr>
<ng-template appPlaceHolder></ng-template>
  <div class="row">
    <div class="col-md-4">
      <p >Here you have Binance open API with cryptcurrency pairs(Max Number:{{maxNumberOfExchangesTable}}):</p>
      <input type="number" [(ngModel)]="numberOfExchangesTable" (ngModelChange)="onVariableChange($event)" min="0" max={{maxNumberOfExchangesTable}}>
      <p > Here output:</p>
      <p class="text-truncate" [innerText]=informationAboutExchanges style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"></p>
    </div>
    <div class="col-md-4">
      <p>below input presents working of ngmodel directive</p>
      <input type="text" [(ngModel)]="variableToBindNr1">
      <p class="text-truncate" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">inserted text from above paragraph: {{variableToBindNr1}}</p>
    </div>
    <div class="col-md-4">
      <p>Event Binding (Click)</p>
      <button class="btn btn-primary" (click)="toggleBoolean()">Toggle</button>
      <button class="btn btn-primary" [disabled]="booleanToToggle">Button to Disable</button>
    </div>
    <div class="col-md-4">
      <p>Cilck button to toggle boolean using in directive</p>
      <button class="btn btn-primary" (click)="toggleBooleanDirective()">Toggle</button>
      <button *ngIf="booleanToToggleUsingDirective" class="btn btn-primary">Button to Show A</button>
      <ng-template [structural]="booleanToToggleUsingDirective">
        <button  class="btn btn-primary">Button to Show B</button>
      </ng-template>
    </div>
    <div class="col-md-4">
      <p>Dynamically change style with ngStyle</p>
      <button class="btn btn-primary" (click)="changeOpacity()">Change</button>
      <p [ngStyle]="{opacity: opacity}">paragraph with changed opacity</p>
  </div>
      <div class="col-md-4">
      <p>below input presents working of ngFor directive</p>
      <input type="number" [(ngModel)]="ngForCounter" (ngModelChange)="onNgForCounterChange($event)">
      <p *ngFor="let i of ngForCounterArray">generated paragraph </p>
  </div>
      <div class="col-md-4">
      <button class="btn btn-primary" #buttonWithReference (click)="showInfoAboutButtonWithreference()">Click me to show my properties in console log</button>
  </div>
      <div class="col-md-4">
      <button class="btn btn-primary" [ngClass]="{backGroundColor: backgroundColorngClass}" (click)="toggleBackgroundColor()">Toggle background color using ngClass</button>
  </div>
        <div class="col-md-4">
      <p [appBasic]="'yellow'">This paragraph using own Directive</p>
  </div>
  <div [ngSwitch]="valueForNgSwitch" class="col-md-4">
      <p >This below we using ngSwitch</p>
      <button class="btn btn-primary" (click)="changeValueForngSwitch(1)">1</button>
      <button class="btn btn-primary" (click)="changeValueForngSwitch(2)">2</button>
      <button class="btn btn-primary" (click)="changeValueForngSwitch(3)">3</button>
      <p *ngSwitchCase="1">chose 1</p>
      <p *ngSwitchCase="2">chose 2</p>
      <p *ngSwitchCase="3">chose 3</p>
      <p *ngSwitchDefault>Value is default</p>
  </div>
  <div class="col-md-4">
      <button class="btn btn-primary" (click)="changeURLafterClick('/view1/12123')">Change the URL to "/view1/12123" after click (1 sec delay)</button>
  </div>
    <div class="col-md-4">
      <button class="btn btn-primary" (click)="changeURLafterClick('/')">Change the URL to "/" after click (1 sec delay)</button>
  </div>
      <div class="col-md-4">
      <button class="btn btn-primary" (click)="subjectEmit()">Change the below paragraph value using subject</button>
      <p>value: {{subjectRandomValue}}</p>
  </div>
  <div class="col-md-4">
      <p >Normal string: {{stringToPipe}} </p>
      <p>Piped string: {{stringToPipe | Uppercase }}</p>
  </div>
  <div class="col-md-4">
      <button class="btn btn-primary" (click)="fetchData()">Fetch Data</button>
      <p>value: {{stringforFetchedData | Uppercase}}</p>
  </div>
  <div>
    <button class="btn btn-primary" (click)="OpenModalButton_OpenModal()">Open modal</button>
  </div>

</div>
